/*文章页卡片宽幅占比*/
.layout {
            max-width: 1280px;
      }
/*文章页信息栏美化*/
#post-info .post-title {
  font-weight: 600; /*字体粗细*/
  font-size: 2.5em; /*字体大小*/
  line-height: 2.2; /*元素高度*/
  letter-spacing: 9px; /*字体间距*/
}
/*信息栏高度调整*/
#page-header.post-bg {
  height: 26rem;
}

/*Web端信息栏适配*/
@media screen and (min-width: 421px){
  #page-header #post-info {
    bottom: 8rem;
}
}

/*Wap端信息栏适配*/
@media screen and (max-width: 420px){
  #page-header #post-info {
    bottom: 2rem;
}
}
/*文章页目录卡片圆角*/
#aside-content .card-widget {
border-radius: 20px;
}
/*文章页目录美化*/
#aside-content .card-widget {
  padding: 2rem 1.2rem; /*前者为上下边距，后者为左右边距*/
}
/*调宽页脚*/
#footer-wrap {
  padding: 3rem 2rem; /*前者为上下边距，后者为左右边距*/
}
#post .post-copyright:before {
position: absolute;
top: -1.9rem; /*C位置*/
color: #49b1f540; /*C颜色*/
font-size: 6rem; /*C大小*/
}/*文章相关推荐卡片美化*/
.relatedPosts > .relatedPosts-list > div {
  border-radius: 20px;
}
#aside-content #card-toc .toc-content .toc-link.active {
  background: #669cbe;
  border-radius: 5px;
}
/*自定义文章页面标题置中*/
#post-info{
	margin:0 auto;
	text-align:center;
}
.page-title{
        margin:0 auto;
        text-align:center;
}
/* 版权信息 */
/* 背景 */
#post .post-copyright {
  background: var(--heo-card-bg);
  padding: 2rem 1.3rem;
  overflow: hidden;
  border: var(--style-border);
  border-width: 1px;
  transition: 0.3s;
  border-radius: 11px;
}

#post .post-copyright:after {
  position: absolute;
  right: 22px;
  top: -77px;
  content: '\f25e';
  font-size: 180px;
  font-family: 'Font Awesome 5 Brands';
  color: var(--heo-fontcolor);
  opacity: 0.4;
  filter: blur(7px);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    padding: 1rem 1.3rem;
  }
}

.post-copyright__author {
  display: flex;
  align-items: center;
}

.post-copyright__original {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.post-copyright__original:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    box-shadow: var(--heo-shadow-border);
  }

  .post-copyright .post-meta-original {
    display: none;
  }

  .post-copyright__original {
    display: none;
  }

  #post .post-copyright:after {
    display: none;
  }
}


/* 作者名 */
#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
}

#post .post-copyright .post-copyright__notice .post-copyright-info a {
  padding: 0 4px;
}

#post .post-copyright .post-copyright-info a:hover {
  color: var(--heo-lighttext);
}

#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#post .post-copyright .post-copyright-title {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: bold;
}

#post .post-copyright .post-copyright-title:hover {
  color: var(--heo-lighttext);
}

#post>div.post-copyright>div.post-copyright__author>span>span {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.38;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  #post>div.post-copyright>div.post-copyright__author>span>span {
    -webkit-line-clamp: 3;
  }

  #post .post-copyright .post-copyright-info {
    -webkit-line-clamp: 2;
  }

  #post .post-copyright .post-copyright-title {
    -webkit-line-clamp: 3;
    line-height: 1.2;
  }
}

/* 链接 */
#post>div.post-copyright>div.post-copyright__type {
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

#post>div.post-copyright>div.post-copyright__type>span>a {
  font-size: 14px;
  opacity: 0.6;
  line-height: 16px;
}

#post>div.post-copyright>div.post-copyright__type>span>a:hover {
  opacity: 1;
  background: none;
}

#post-copyright-url a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* 提示 */
#post>div.post-copyright>div.post-copyright__notice {
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0.5rem 0;
}
/*装饰圈*/
#post .post-copyright:before {
  display: none;
}

#post .post-copyright .post-copyright-meta {
    color: #5a7ed7;
    font-weight: bold;
}
#post .post-copyright {
    padding: 2rem 1.3rem;
    border-radius: 11px;
    border-style: solid;
}
/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#footer:before {
    background-color: rgba(0, 0, 0, 0);
}

/* sianx大佬css */
#footer {
  display: flex;
  flex-direction: column;
  }
  #footer-wrap {
  padding: 0;
  }
  #mj-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem;
    }
  #mj-footer .footer-group {
    min-width: 120px;
  }
  #mj-footer .footer-title {
    color: var(--dark_bg_color);/*标题*/
    font-size: 1rem;
    text-align: left;
  }
  #mj-footer .footer-links {
    display: flex;
    flex-direction: column;
  }
  #mj-footer .footer-item {
    font-size: 1rem;
    margin-right: auto;
  }
  #mj-footer .footer-group .footer-links a{
    text-decoration: none;
  }
  #mj-footer .footer-group .footer-links a:hover{
      text-decoration: none; /* 去除下划线 */
      color: #9c9;/* 超链接颜色 */
  }
  div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center;
  }
  div#footer_deal a{
    margin: 1rem 27px;
    font-size: 24px;
    line-height: 1.3rem;
    border-radius: 3rem;
  }
  div#footer_deal a:hover{
    text-decoration: none; /* 去除下划线 */
    color: #9c9;/* 超链接颜色 */
  }

/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
  }

#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(4) .menus_item_child {
    left: -220px;
}
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(8) .menus_item_child {
    left: -160px;
}



/* 文章页面正文背景 */
div#post{
    opacity: 0.9;
}
/* 分页页面 */
div#page{
    opacity: 0.9;
}
/* 归档页面 */
div#archive{
    opacity: 0.9;
}
/* 标签页面 */
div#tag{
    opacity: 0.9;
}
/* 分类页面 */
div#category{
    opacity: 0.9;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
